* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 17px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
}

// ---------------------------TOP-NAVBAR---------------------------
.top-navbar {
    background-color: #0C4B35;
    color: #fff;
    font-size: 14px;

    .row {
        justify-content: space-between;
        align-items: center;

        .top-navbar-links {
            display: flex;
            gap: 30px;
    
            .top-navbar-element {
                color: #fff;
                display: flex;
                align-items: center;
                gap: 10px;

                p {
                    display: none;
                }

                img {
                    width: 20px;
                }
            }
    
        }

        .drop-down {
            display: flex;
            gap: 5px;
            color: #fff;

            img {
                width: 7px;
            }
        }
    }
}

// ---------------------------NAVBAR---------------------------
.navbar {

    .row {
        justify-content: space-between;
        align-items: center;

        .logo {
            a {
                img {
                    width: 90px;
                }
            }
        }

        nav {
            display: flex;
            align-items: center;
            gap: 40px;

            .mobile-menu {
                order: 2;
            }
            .menu {
                display: none;
            }

            .menu-btn {
               order: 1;
               
                .call-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    border-radius: 10px;
                    gap: 10px;
                    width: 40px;
                    height: 34px;
                    background-color: #00730C;

                    p {
                        display: none;
                    }
                }
            }
        }
    }
}

// ---------------------------MAIN---------------------------
main {
    background-color: #ccc;
    height: 719px;
}


// ---------------------------TABLET---------------------------
@media(min-width: 768px) {
    .container {
        max-width: 1200px;
    }

    .top-navbar {
        .row {
            .top-navbar-links {
                .top-navbar-element {
                    img {
                        width: 25px;
                    }
                }
            }
        }
    }

    .navbar {
        .row {
            .logo {
                a {
                    img {
                        width: 120px;
                    }
                }
            }
            nav {
                .menu-btn {
                   
                    .call-btn {
                        border-radius: 5px;
                        padding: 10px 35px;
                        width: 170px;
                        height: 50px;
                        color: #fff;
                        font-size: 18px;

                        img {
                            width: 30px;
                            height: 30px;
                        }
    
                        p {
                            display: flex;
                        }
                    }
                }
            }
        }
    }

}




// ---------------------------DESKTOP---------------------------
@media(min-width: 1410px) {
    .container {
        max-width: 1400px;
    }

    .top-navbar {
        .row {
            margin: 0 0;
    
            .top-navbar-links {
                .top-navbar-element {
    
                    p {
                        display: flex;
                    }
                }
            }

            .drop-down {
                img {
                    width: 12px;
                }
            }
        }
    }

    .navbar {

        .row {
            margin: 0 5px;
    
            nav {
                gap: 100px;
    
                .mobile-menu {
                    display: none;
                }

                .menu {
                    display: flex;
                    gap: 40px;
                    
                    .menu-item {
                        .menu-green-link {
                            color: #00730C;
                        }
                        
                        a {
                            color: #212529;
                            font-size: 16px;
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            img {
                                width: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}