* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

h1 {
    font-size: 28px;

    span {
        color: #00730C;
    }
}

.container {
    margin: 0 auto;
    padding: 17px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    color: #212529;
    font-family: "Nunito", sans-serif;
}

// ---------------------------TOP-NAVBAR---------------------------
.top-navbar {
    background-color: #0C4B35;
    color: #fff;
    font-size: 14px;

    .row {
        justify-content: space-between;
        align-items: center;

        .top-navbar-links {
            display: flex;
            gap: 30px;
    
            .top-navbar-element {
                color: #fff;
                display: flex;
                align-items: center;
                gap: 10px;

                p {
                    display: none;
                }

                img {
                    width: 20px;
                }
            }
    
        }

        .drop-down {
            display: flex;
            gap: 5px;
            color: #fff;

            img {
                width: 7px;
            }
        }
    }
}

// ---------------------------NAVBAR---------------------------
.navbar {
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.15);

    .row {
        justify-content: space-between;
        align-items: center;

        .logo {
            a {
                img {
                    width: 90px;
                }
            }
        }

        nav {
            display: flex;
            align-items: center;
            gap: 40px;

            .mobile-menu {
                order: 2;
            }
            .menu {
                display: none;
            }

            .menu-btn {
               order: 1;
               
                .call-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    border-radius: 10px;
                    gap: 10px;
                    width: 40px;
                    height: 34px;
                    background-color: #00730C;

                    p {
                        display: none;
                    }
                }
            }
        }
    }
}

// ---------------------------HERO---------------------------
.hero {
    background: linear-gradient(61deg, rgba(0, 115, 12, 0.61) 0.01%, rgba(251, 246, 238, 0.00) 75.75%);
    position: relative;

    .container {
        position: inherit;
        z-index: 1;
        display: flex;
        align-items: center;
        padding: 0;
    }

    .blank-img-small {
        position: absolute;
        width: 83px;
        height: 118px;
        left: 1px;
        bottom: 20px;
    }

    .blank-img-large {
        width: 100%;
        height: auto;
        padding: 0 0 35px 0;
    }
    
    .row {
        flex-direction: column;
        line-height: 40px;
        gap: 40px;
        margin-bottom: 35px;
    }

    .hero-main {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .hero-top-text {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 14px;
        }

        p {
            line-height: 22px;
            font-size: 14px;
            color: #676767;
        }
    }

    .hero-main-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 19px;
        align-self: stretch;

        .hero-main-btn1 {
            border: none;
            border-radius: 5px;
            padding: 12px 0;
            width: 90%;
            font-size: 16px;
            color: #fff;
            background-color: #00730C;
        }

        .hero-main-btn2 {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 14px;
            color: #00730C;
            background-color: transparent;
            border: none;
            div {
                background: url('../imgs/Mobile-app/arrow-green2.svg') center no-repeat;
                width: 20px;
                height: 20px;
            }
        }
    }

    .hero-bottom {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        line-height: 20px;
        .hero-bottom-item {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 10px;
            background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
            padding: 8px 10px;
            border-radius: 32px;

            div {
                font-size: 12px;
                font-weight: 700;
            }
        }

        .hero-bottom-item:last-child {
            display: none;
        }
    }
}

// ---------------------------SECTION-A---------------------------
.section-a {
    .container {
        padding: 0;
    }
    .row {
        flex-direction: column;
        gap: 30px;
    }

    .section-a-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        h1 {
            text-transform: capitalize;
        }
        p {
            text-align: center;
            font-size: 14px;
            line-height: 22px;
            color: #676767;
        }
    }

    .section-a-content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        .section-a-item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            border-radius: 10px;
            padding: 20px;
            background: linear-gradient(171deg, #FFF 0%, #FFF 100%);
            box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
        }

        .section-a-item:hover {
            background: #00730C;
            color: #FFF;

            p {
                color: #FFF;
            }

            .a-img {
                background-color: #FFF;
            }

            .bg-a-img {
                opacity: 0.2;
            }
        }

        .a-item-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            z-index: 2;
            h3 {
                font-size: 16px;
                font-weight: 700;
                text-transform: capitalize;
            }
            p {
                font-size: 14px;
                line-height: 22px;
                color: #676767;
            }
        }

        .a-img-container {
            z-index: 1;
        }

        .bg-a-img {
            position: absolute;
            left: 0;
            background: url('../imgs/bg-img-a.svg') no-repeat center center/cover;
            width: 112px;
            height: 112px;
            z-index: 0;
        }

        .a-img {
            width: 50px;
            height: 50px;
            background-color: #00730C;
        }

        .a-img-1 {
            mask: url('../imgs/Mobile-app/A-icon-1.svg') no-repeat center center/cover;
        }
        .a-img-2 {
            mask: url('../imgs/Mobile-app/A-icon-2.svg') no-repeat center center/cover;
        }
        .a-img-3 {
            mask: url('../imgs/Mobile-app/A-icon-3.svg') no-repeat center center/cover;
        }
        .a-img-4 {
            mask: url('../imgs/Mobile-app/A-icon-4.svg') no-repeat center center/cover;
        }
        .a-img-5 {
            mask: url('../imgs/Mobile-app/A-icon-5.svg') no-repeat center center/cover;
        }
        .a-img-6 {
            mask: url('../imgs/Mobile-app/A-icon-6.svg') no-repeat center center/cover;
        }
        .a-img-7 {
            mask: url('../imgs/Mobile-app/A-icon-7.svg') no-repeat center center/cover;
        }
        .a-img-8 {
            mask: url('../imgs/Mobile-app/A-icon-8.svg') no-repeat center center/cover;
        }
    }
}

// ---------------------------SECTION-B---------------------------
.section-b {
    .container {
        padding: 0;
    }

    .row {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .b-imgs-container {
        position: relative;
        width: 345px;
        height: 462px;

        .b-green-bg {
            position: relative;
            background-color: #00730C;
            width: 188px;
            height: 292px;
            z-index: 0;
        }
        .b-main-img {
            position: absolute;
            top: 12px;
            left: 12px;
            background: url('../imgs/b-main-img.png') no-repeat center center/cover;
            width: 291px;
            height: 358px;
            z-index: 1;
        }
        .b-second-img {
            position: absolute;
            bottom: 0;
            right: 0;
            background: url('../imgs/b-second-img.png') no-repeat center center/cover;
            width: 241px;
            height: 162px;
            border-radius: 9px;
            z-index: 2;
        }
    }

    .section-b-cont-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .section-b-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .section-b-text {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h1 {
            text-align: center;
        }
        p {
            font-size: 14px;
            line-height: 22px;
            color: #676767;
        }
    }

    .section-b-blocks {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
        justify-content: center;
    }

    .section-b-block {
        border-radius: 5px;
        width: 47%;
        padding: 15px;
        background: #fff;
        box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        p {
            text-align: center;
            font-size: 14px;
            font-weight: 700;
        }
    }

    .section-b-block-item {
        background-color: #00730C;
        border-radius: 40px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-b-block-img {
        width: 30px;
        height: 30px;
    }

    .section-b-block-img-1 {
        background: url('../imgs/b-icon-1.svg') no-repeat center center/cover;
    }

    .section-b-block-img-2 {
        background: url('../imgs/b-icon-2.svg') no-repeat center center/cover;
    }

    .section-b-block-img-3 {
        background: url('../imgs/b-icon-3.svg') no-repeat center center/cover;
    }

    .section-b-block-img-4 {
        background: url('../imgs/b-icon-4.svg') no-repeat center center/cover;
    }

    .section-b-btn {
        border: none;
        border-radius: 5px;
        padding: 10px 30px;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        background-color: #00730C;
    }
}

// ---------------------------SECTION-C---------------------------
.section-c {
    background: #0C4B35;
    position: relative;
    overflow: hidden;
    .container {
        padding: 50px 0;
    }
    .section-c-bg-img-1 {
        position: absolute;
        left: -70px;
        top: 130px;
        background: url('../imgs/c-bg-img-1.png') no-repeat center;
        width: 251.642px;
        height: 248.002px;
    }
    .section-c-bg-img-2 {
        position: absolute;
        top: -20px;
        right: 0;
        background: url('../imgs/c-bg-img-2.png') no-repeat center;
        width: 100px;
        height: 196.499px;
    }
    .row {
        color: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .section-c-img {
        background: url('../imgs/c-main-img.png') no-repeat center center/cover;
        width: 345px;
        height: 217px;
        z-index: 1;
    }

    .section-c-cont-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .section-c-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .section-c-text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;

        p {
            font-size: 14px;
            font-weight: 100;
            line-height: 22px;
        }
    }

    .section-c-blocks {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
        justify-content: center;
    }

    .section-c-block {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        p {
            font-size: 16px;
            font-weight: 700;
            text-transform: capitalize;
        }
    }

    .section-c-block-item {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background-color: #FFF;
        box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.20);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-c-block-img {
        background: url('../imgs/c-tick.svg') no-repeat center;
        width: 100%;
        height: 100%;
    }

    .section-c-btn {
        border: none;
        border-radius: 5px;
        padding: 10px 30px;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        background-color: #00730C;
    }
}

// ---------------------------SECTION-D---------------------------
.section-d {
    .container {
        padding: 0;
    }
    .row {
        flex-direction: column;
        gap: 30px;
    }

    .section-d-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        h1 {
            text-transform: capitalize;
        }
        p {
            text-align: center;
            font-size: 14px;
            line-height: 22px;
            color: #676767;
        }
    }

    .section-d-content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        .section-d-item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            border-radius: 10px;
            padding: 20px 31px 20px 20px;
            background: linear-gradient(171deg, #FFF 0%, #FFF 100%);
            box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
        }

        .section-d-item:hover {
            background: #00730C;
            color: #FFF;

            p {
                color: #FFF;
            }

            .d-img {
                background-color: #FFF;
            }

            .bg-d-img {
                background-color: #FFF;
            }
        }

        .d-item-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            z-index: 1;
            h3 {
                font-size: 16px;
                font-weight: 700;
                text-transform: capitalize;
            }
            p {
                font-size: 14px;
                line-height: 22px;
                color: #676767;
            }
        }

        .d-img-container {
            z-index: 1;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .bg-d-img {
            position: absolute;
            right: 30px;
            mask: url('../imgs/d-bg-img.svg') no-repeat center;
            background-color: #00730C;
            background-size: contain;
            height: 111.893px;
            width: 76.227px;
            z-index: 0;
        }

        .d-img {
            width: 50px;
            height: 50px;
            background-color: #00730C;
        }

        .d-img-1 {
            mask: url('../imgs/d-icon-1.svg') no-repeat center center/cover;
        }
        .d-img-2 {
            mask: url('../imgs/d-icon-2.svg') no-repeat center center/cover;
        }
        .d-img-3 {
            mask: url('../imgs/d-icon-3.svg') no-repeat center center/cover;
        }
        .d-img-4 {
            mask: url('../imgs/d-icon-4.svg') no-repeat center center/cover;
        }
        
        .d-num {
            color: #E3E3E3;
            font-size: 45px;
            font-weight: 800;
        }
    }
}

// ---------------------------SECTION-E---------------------------
.section-e {
    .container {
        padding: 0;
    }

    .row {
        align-items: center;
        justify-content: center;
    }

    .section-e-container {
        background: url('../imgs/Mobile-app/e-bg-img-small.png') no-repeat center center/cover;
        border-radius: 5px;
        width: 100%;
        min-height: 224px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-e-placeholder {
        background: rgba($color: #C4C4C4, $alpha: 0.2);
        width: 100%;
        min-height: 224px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-e-content {
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin: 0 30px;
        width: 100%;

        .e-text {
            font-size: 20px;
            text-align: center;
        }
    }

    .e-call-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #00730C;
        background-color: #fff;
        gap: 10px;
        border: none;
        border-radius: 5px;
        padding: 10px 35px;
        box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.15);

        img {
            width: 20px;
            height: 20px;
        }

        p {
            text-align: center;
            font-size: 14px;
        }
    }
}

// ---------------------------SECTION-F---------------------------

// ---------------------------SECTION-G---------------------------
.section-g {
    position: relative;
    .g-background {
        position: absolute;
        left: 0;
        top: 0;
        background-color:#D9F1DF;
        height: 585px;
        width: 100%;
        z-index: 0;
    }
    .container {
        position: relative;
        z-index: 1;
        padding: 50px 0 0 0;
    }
    .row {
        flex-direction: column;
        gap: 40px;
    }
    .section-g-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .g-head-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        h1 {
            text-transform: capitalize;
        }
        p {
            text-align: center;
            font-size: 14px;
            line-height: 22px;
            color: #676767;
        }
    }
    .g-head-btns {
        display: none;
        flex-direction: row;
        gap: 30px;
        .slider-arrow {
            background: url('../imgs/slider/slider-arrow-g.svg') no-repeat center;
            border: 1px solid #00730C;
            border-radius: 5px;
            width: 50px;
            height: 50px;
        }
        .next-arrow {
            rotate: 180deg;
        }
        .next-arrow:hover {
            background: url('../imgs/slider/slider-arrow-w.svg') no-repeat center;
            background-color: #00730C;
            rotate: 0deg;
        }
        .prev-arrow:hover {
            background: url('../imgs/slider/slider-arrow-w.svg') no-repeat center;
            background-color: #00730C;
            rotate: 180deg;
        }
    }

    .section-g-content {
        width: 100%;
    }
    .slick-track {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        gap: 30px;
    }
    .slider-item {
        background-color: #FFF;
        box-shadow: 0 10px 10px 0 rgba(51, 51, 51, 0.08);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        gap: 30px;
        width: 305px;
        p {
            font-size: 14px;
            line-height: 22px;
            color: #676767;
        }
        h3 {
            font-size: 16px;
            font-weight: 700;
            text-transform: capitalize;
        }
    }
    .slider-img {
        background: url('../imgs/slider/slider-img-1.png') no-repeat center;
        background-size: contain;
        width: 136px;
        height: 183px;
    }
    .slider-content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        z-index: 1;
        padding-top: 20px;
        .slider-bg-img {
            position: absolute;
            left: 0;
            top: 0;
            mask: url('../imgs/slider/bg-slider-img.svg') center no-repeat;
            mask-size: contain;
            width: 30px;
            height: 30px;
            z-index: 0;
            background-color: #00730C;
        }
    }
    .slider-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        p {
            font-size: 12px;
        }
    }
    .slider-stars {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: 10px;
        .star {
            background: url('../imgs/slider/star-icon.svg') no-repeat center center/cover;
            width: 20px;
            height: 20px;
        }
    }
}


// ---------------------------TABLET---------------------------
@media(min-width: 768px) {
    .container {
        max-width: 1200px;
    }

    //---------------------------NAVBAR---------------------------
    .top-navbar {
        .row {
            .top-navbar-links {
                .top-navbar-element {
                    img {
                        width: 25px;
                    }
                }
            }
        }
    }

    .navbar {
        .row {
            .logo {
                a {
                    img {
                        width: 120px;
                    }
                }
            }
            nav {
                .menu-btn {
                   
                    .call-btn {
                        border-radius: 5px;
                        padding: 10px 35px;
                        width: 170px;
                        height: 50px;
                        color: #fff;
                        font-size: 18px;

                        img {
                            width: 30px;
                            height: 30px;
                        }
    
                        p {
                            display: flex;
                        }
                    }
                }
            }
        }
    }

    //---------------------------HERO---------------------------
    .hero {
        height: 719px;
    
        .container {
            height: 100%;
            align-items: center;
        }
    
        .blank-img-small {
            width: 280px;
            height: 400px;
            right: 150px;
            left: auto;
            bottom: 100px;
        }
    
        .blank-img-large {
            display: none;
        }
        
        .row {
            gap: 50px;
            color: #212529;
            width: 600px;
            margin-bottom: 0;
        }
    
        .hero-text {
            gap: 20px;
            
            h1 {
                font-size: 58px;
                line-height: 80px;
            }
    
            .hero-top-text {
                text-transform: capitalize;
                font-size: 16px;
            }
    
            p {
                line-height: 30px;
                font-size: 18px;
                color: #676767;
            }
        }
    
        .hero-main-btns {
            flex-direction: row;
            gap: 30px;
            align-self: stretch;
    
            .hero-main-btn1 {
                padding: 13px 35px;
                width: auto;
                font-size: 18px;
            }
    
            .hero-main-btn2 {
                gap: 15px;
                font-size: 18px;
                color: #676767;
                div {
                    background: url('../imgs/Desktop-app/arrow-black2.svg') center no-repeat;
                }
            }
        }
    
        .hero-bottom {
            align-items: center;
            justify-content: stretch;
            .hero-bottom-item {
                gap: 10px;
                background: none;
                font-size: 16px;
                div {
                    display: flex;
                    align-items: center;
                    background: linear-gradient(73deg, #00730C 0%, #F9F9F9 100%);
                    padding: 15px 7px;
                    border-radius: 35px;
                    font-size: 15px;
                }
                p {
                    line-height: 20px;
                    padding-right: 10px;
                }
            }
            .hero-bottom-item:last-child {
                display: flex;
            }
        }
    }

    // ---------------------------SECTION-A---------------------------
    .section-a {
        .row {
            gap: 50px;
        }
    
        .section-a-head {
            gap: 30px;
            h1 {
                font-size: 45px;
                font-weight: 800;
            }
            p {
                font-size: 18px;
                line-height: 30px;
                width: 85%;
            }
        }
    
        .section-a-content {
            justify-content: center;
            align-items: center;
            gap: 30px;
    
            .section-a-item {
                flex-direction: column;
                width: 40%;
                gap: 50px;
                padding: 60px 40px;
                align-items: center;
            }
    
            .a-item-text {
                align-items: center;
                h3 {
                    font-size: 24px;
                }
                p {
                    text-align: center;
                    font-size: 16px;
                    line-height: 28px;
                }
            }

            .bg-a-img {
                top: 0;
                left: auto;
                width: 176px;
                height: 176px;
            }
    
            .a-img {
                width: 70px;
                height: 70px;
            }
        }
    }

    // ---------------------------SECTION-B---------------------------
    .section-b {
        .row {
            flex-direction: column;
            gap: 27px;
        }
        .b-imgs-container {
            width: 680px;
            height: 903px;
    
            .b-green-bg {
                width: 450px;
                height: 706px;
            }
            .b-main-img {
                top: 36px;
                left: 24px;
                width: 601px;
                height: 741px;
            }
            .b-second-img {
                width: 456px;
                height: 306px;
            }
        }
        .section-b-cont-btn {
            align-items: center;
            gap: 50px;
            width: 70%;
        }
        .section-b-content {
            gap: 50px;
        }
        .section-b-text {
            gap: 30px;
    
            h1 {
                text-align: start;
                font-size: 45px;
                font-weight: 800;
            }
            p {
                font-size: 16px;
                line-height: 28px;
            }
        }
        .section-b-blocks {
            width: 100%;
            gap: 30px;
        }
        .section-b-block {
            width: 47%;
            padding: 15px 30px;
            background: #fff;
            flex-direction: row;
            gap: 30px;
    
            p {
                font-size: 24px;
            }
        }
        .section-b-block-item {
            border-radius: 67px;
            width: 67px;
            height: 67px;
        }
        .section-b-block-img {
            width: 50px;
            height: 50px;
        }
        .section-b-btn {
            padding: 13px 35px;
            font-size: 18px;
            line-height: 24px;
        }
    }

    // ---------------------------SECTION-C---------------------------
    .section-c {
        .container {
            padding: 100px 0;
        }
        .section-c-bg-img-1 {
            left: -85px;
            top: auto;
            bottom: 0;
            background: url('../imgs/Desktop-app/c-bg-img-big-1.png') no-repeat center;
            width: 541.29px;
            height: 535.42px;
        }
        .section-c-bg-img-2 {
            top: -25px;
            right: -130px;
            background: url('../imgs/Desktop-app/c-bg-img-big-2.png') no-repeat center;
            width: 597.361px;
            height: 590.884px;
        }
        .row {
            gap: 50px;
        }
        .section-c-img {
            box-shadow: 3px 10px 35px 0px rgba(0, 0, 0, 0.25);
            width: 672px;
            height: 426px;
        }
        .section-c-cont-btn {
            align-items: center;
            width: 70%;
            gap: 50px;
        }
        .section-c-content {
            gap: 50px;
        }
        .section-c-text {
            gap: 30px;
            text-align: start;

            h1 {
                font-size: 45px;
                font-weight: 700;
            }
    
            p {
                font-size: 18px;
                line-height: 30px;
            }
        }
        .section-c-blocks {
            gap: 20px 50px;
        }
        .section-c-block {
            gap: 20px;
            width: 40%;
    
            p {
                font-size: 24px;
            }
        }
        .section-c-block-item {
            width: 30px;
            height: 30px;
            border-radius: 30px;
        }
        .section-c-block-img {
            background-size: contain;
            width: 20px;
            height: 20px;
        }
        .section-c-btn {
            padding: 13px 35px;
            font-size: 18px;
            line-height: 24px;
            z-index: 1;
        }
    }

    // ---------------------------SECTION-D---------------------------
    .section-d {
        .row {
            gap: 50px;
        }

        .section-d-head {
            gap: 20px;
            h1 {
                font-size: 45px;
                font-weight: 800;
            }
            p {
                font-size: 18px;
                line-height: 30px;
                width: 85%;
            }
        }

        .section-d-content {
            align-items: center;
            gap: 30px;

            .section-d-item {
                gap: 35px;
                width: 40%;
                padding: 50px 29px 70px 29px;
                background: linear-gradient(171deg, #FFF 0%, #FFF 100%);
                box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
            }

            .d-item-text {
                h3 {
                    font-size: 24px;
                }
                p {
                    font-size: 16px;
                    line-height: 28px;
                }
            }

            .bg-d-img {
                right: 30px;
                height: 161.801px;
                width: 95.1px;
            }

            .d-img {
                width: 70px;
                height: 70px;
            }
            
            .d-num {
                font-size: 78px;
                text-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.15);
            }
        }
    }

    // ---------------------------SECTION-E---------------------------
    .section-e {
        .section-e-container {
            background: url('../imgs/Desktop-app/e-bg-img-big.png') no-repeat center center/cover;
            min-height: 247px;
        }

        .section-e-placeholder {
            min-height: 247px;
        }

        .section-e-content {
            flex-direction: row;
            justify-content: flex-end;
            gap: 40px;

            .e-text {
                font-size: 33px;
                text-align: start;
                display: flex;
                flex-wrap: wrap;
                width: 448px;
            }
        }

        .e-call-btn {
            img {
                width: 30px;
                height: 30px;
            }

            p {
                font-size: 18px;
            }
        }
    }

    // ---------------------------SECTION-G---------------------------
    .section-g {
        .container {
            padding: 100px 0 0 0;
        }
        .row {
            gap: 50px;
        }
        .section-g-head {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            gap: 0;
        }
        .g-head-text {
            justify-content: baseline;
            align-items: flex-start;
            gap: 30px;
            width: 70%;
            h1 {
                font-size: 45px;
            }
            p {
                text-align: start;
                font-size: 18px;
                line-height: 30px;
            }
        }
        .g-head-btns {
            display: flex;
        }
        .slick-initialized .slick-slide {
            display: flex;
        }
        // .section-g-content {
        //     height: 340px;
        // }
        .slider-item {
            flex-direction: row;
            width: 600px;
            align-items: center;
            p {
                font-size: 18px;
                line-height: 30px;
            }
            h3 {
                font-size: 24px;
            }
        }
        .slider-img {
            width: 193px;
            height: 276px;
        }
        .slider-content {
            width: 60%;
            gap: 30px;
            gap: 27px;
            padding-top: 20px;
            .slider-bg-img {
                left: 0;
                top: 0;
                mask: url('../imgs/slider/bg-slider-img.svg') center no-repeat;
                mask-size: contain;
                width: 70px;
                height: 70px;
                z-index: 0;
                background-color: #F6702A;
            }
        }
        .slider-info {
            p {
                font-size: 14px;
            }
        }
        .slider-stars {
            align-items: center;
            gap: 8px;
            .star {
                width: 25px;
                height: 25px;
            }
        }
    }
}



// ---------------------------DESKTOP---------------------------
@media(min-width: 1410px) {
    main {
        gap: 100px;
    }
    
    .container {
        max-width: 1400px;
    }

    .row {
        margin: 0 0;
    }

    //---------------------------NAVBAR---------------------------
    .top-navbar {
        .row {
            .top-navbar-links {
                .top-navbar-element {
    
                    p {
                        display: flex;
                    }
                }
            }

            .drop-down {
                img {
                    width: 12px;
                }
            }
        }
    }

    .navbar {

        .row {
            margin: 0 5px;
    
            nav {
                gap: 100px;
    
                .mobile-menu {
                    display: none;
                }

                .menu {
                    display: flex;
                    gap: 40px;
                    
                    .menu-item {
                        .menu-green-link {
                            color: #00730C;
                        }
                        
                        a {
                            color: #212529;
                            font-size: 16px;
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            img {
                                width: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    //---------------------------HERO---------------------------
    .hero {
        .row {
            width: 40%;
            gap: 50px;
            color: #212529;
            margin-bottom: 0;
        }
        .blank-img-small {
            display: none;
        }
        .blank-img-large {
            display: flex;
            position: absolute;
            max-width: 870px;
            height: auto;
            right: 0;
            bottom: 0;
            padding: 0;
        }
    }

    // ---------------------------SECTION-A---------------------------
    .section-a {
        .section-a-content {
            .section-a-item {
                width: 23%;
            }
        }
    }

    // ---------------------------SECTION-B---------------------------
    .section-b {
        .row {
            flex-direction: row;
        }
        .section-b-cont-btn {
            align-items: baseline;
            width: 49%;
        }
        .section-b-block-item {
            border-radius: 67px;
            width: 67px;
            height: 67px;
        }
    }
    
    // ---------------------------SECTION-C---------------------------
    .section-c {
        .row {
            flex-direction: row;
            gap: 82px;
        }
        .section-c-img {
            order: 2;
        }
        .section-c-cont-btn {
            align-items: baseline;
            width: 46%;
            order: 1;
        }
        .section-c-blocks {
            gap: 20px 120px;
        }
    }

    // ---------------------------SECTION-D---------------------------
    .section-d {
        .section-d-content {
            .section-d-item {
                width: 23%;
            }
        }
    }

    // ---------------------------SECTION-E---------------------------
    .section-e {
        .section-e-content {
            gap: 85px;
        }
    }

    // ---------------------------SECTION-G---------------------------
    .section-g {
        .slider-item {
            width: 685px;
        }
    }
}



//---------------------------LARGE SCREEN---------------------------
@media(min-width: 1710px) {
    .hero {
        .row {
            width: 40%;
        }
        .blank-img-small {
            display: flex;
            width: 197px;
            height: 278px;
            bottom: 60px;
            left: 1;
            right: auto;
        }
        .blank-img-large {
            max-width: 1013px;
        }
    }
}