* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

h1 {
  font-size: 28px;
}
h1 span {
  color: #00730C;
}

.container {
  margin: 0 auto;
  padding: 17px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
  color: #212529;
  font-family: "Nunito", sans-serif;
}

.top-navbar {
  background-color: #0C4B35;
  color: #fff;
  font-size: 14px;
}
.top-navbar .row {
  justify-content: space-between;
  align-items: center;
}
.top-navbar .row .top-navbar-links {
  display: flex;
  gap: 30px;
}
.top-navbar .row .top-navbar-links .top-navbar-element {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-navbar .row .top-navbar-links .top-navbar-element p {
  display: none;
}
.top-navbar .row .top-navbar-links .top-navbar-element img {
  width: 20px;
}
.top-navbar .row .drop-down {
  display: flex;
  gap: 5px;
  color: #fff;
}
.top-navbar .row .drop-down img {
  width: 7px;
}

.navbar {
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.15);
}
.navbar .row {
  justify-content: space-between;
  align-items: center;
}
.navbar .row .logo a img {
  width: 90px;
}
.navbar .row nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar .row nav .mobile-menu {
  order: 2;
}
.navbar .row nav .menu {
  display: none;
}
.navbar .row nav .menu-btn {
  order: 1;
}
.navbar .row nav .menu-btn .call-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  gap: 10px;
  width: 40px;
  height: 34px;
  background-color: #00730C;
}
.navbar .row nav .menu-btn .call-btn p {
  display: none;
}

.hero {
  background: linear-gradient(61deg, rgba(0, 115, 12, 0.61) 0.01%, rgba(251, 246, 238, 0) 75.75%);
  position: relative;
}
.hero .container {
  position: inherit;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0;
}
.hero .blank-img-small {
  position: absolute;
  width: 83px;
  height: 118px;
  left: 1px;
  bottom: 20px;
}
.hero .blank-img-large {
  width: 100%;
  height: auto;
  padding: 0 0 35px 0;
}
.hero .row {
  flex-direction: column;
  line-height: 40px;
  gap: 40px;
  margin-bottom: 35px;
}
.hero .hero-main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.hero .hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero .hero-text .hero-top-text {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
.hero .hero-text p {
  line-height: 22px;
  font-size: 14px;
  color: #676767;
}
.hero .hero-main-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
  align-self: stretch;
}
.hero .hero-main-btns .hero-main-btn1 {
  border: none;
  border-radius: 5px;
  padding: 12px 0;
  width: 90%;
  font-size: 16px;
  color: #fff;
  background-color: #00730C;
}
.hero .hero-main-btns .hero-main-btn2 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #00730C;
  background-color: transparent;
  border: none;
}
.hero .hero-main-btns .hero-main-btn2 div {
  background: url("../imgs/Mobile-app/arrow-green2.svg") center no-repeat;
  width: 20px;
  height: 20px;
}
.hero .hero-bottom {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  line-height: 20px;
}
.hero .hero-bottom .hero-bottom-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 10px;
  background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
  padding: 8px 10px;
  border-radius: 32px;
}
.hero .hero-bottom .hero-bottom-item div {
  font-size: 12px;
  font-weight: 700;
}
.hero .hero-bottom .hero-bottom-item:last-child {
  display: none;
}

.section-a .container {
  padding: 0;
}
.section-a .row {
  flex-direction: column;
  gap: 30px;
}
.section-a .section-a-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.section-a .section-a-head h1 {
  text-transform: capitalize;
}
.section-a .section-a-head p {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}
.section-a .section-a-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.section-a .section-a-content .section-a-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
  background: linear-gradient(171deg, #FFF 0%, #FFF 100%);
  box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
}
.section-a .section-a-content .section-a-item:hover {
  background: #00730C;
  color: #FFF;
}
.section-a .section-a-content .section-a-item:hover p {
  color: #FFF;
}
.section-a .section-a-content .section-a-item:hover .a-img {
  background-color: #FFF;
}
.section-a .section-a-content .section-a-item:hover .bg-a-img {
  opacity: 0.2;
}
.section-a .section-a-content .a-item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  z-index: 2;
}
.section-a .section-a-content .a-item-text h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
}
.section-a .section-a-content .a-item-text p {
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}
.section-a .section-a-content .a-img-container {
  z-index: 1;
}
.section-a .section-a-content .bg-a-img {
  position: absolute;
  left: 0;
  background: url("../imgs/bg-img-a.svg") no-repeat center center/cover;
  width: 112px;
  height: 112px;
  z-index: 0;
}
.section-a .section-a-content .a-img {
  width: 50px;
  height: 50px;
  background-color: #00730C;
}
.section-a .section-a-content .a-img-1 {
  -webkit-mask: url("../imgs/Mobile-app/A-icon-1.svg") no-repeat center center/cover;
          mask: url("../imgs/Mobile-app/A-icon-1.svg") no-repeat center center/cover;
}
.section-a .section-a-content .a-img-2 {
  -webkit-mask: url("../imgs/Mobile-app/A-icon-2.svg") no-repeat center center/cover;
          mask: url("../imgs/Mobile-app/A-icon-2.svg") no-repeat center center/cover;
}
.section-a .section-a-content .a-img-3 {
  -webkit-mask: url("../imgs/Mobile-app/A-icon-3.svg") no-repeat center center/cover;
          mask: url("../imgs/Mobile-app/A-icon-3.svg") no-repeat center center/cover;
}
.section-a .section-a-content .a-img-4 {
  -webkit-mask: url("../imgs/Mobile-app/A-icon-4.svg") no-repeat center center/cover;
          mask: url("../imgs/Mobile-app/A-icon-4.svg") no-repeat center center/cover;
}
.section-a .section-a-content .a-img-5 {
  -webkit-mask: url("../imgs/Mobile-app/A-icon-5.svg") no-repeat center center/cover;
          mask: url("../imgs/Mobile-app/A-icon-5.svg") no-repeat center center/cover;
}
.section-a .section-a-content .a-img-6 {
  -webkit-mask: url("../imgs/Mobile-app/A-icon-6.svg") no-repeat center center/cover;
          mask: url("../imgs/Mobile-app/A-icon-6.svg") no-repeat center center/cover;
}
.section-a .section-a-content .a-img-7 {
  -webkit-mask: url("../imgs/Mobile-app/A-icon-7.svg") no-repeat center center/cover;
          mask: url("../imgs/Mobile-app/A-icon-7.svg") no-repeat center center/cover;
}
.section-a .section-a-content .a-img-8 {
  -webkit-mask: url("../imgs/Mobile-app/A-icon-8.svg") no-repeat center center/cover;
          mask: url("../imgs/Mobile-app/A-icon-8.svg") no-repeat center center/cover;
}

.section-b .container {
  padding: 0;
}
.section-b .row {
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.section-b .b-imgs-container {
  position: relative;
  width: 345px;
  height: 462px;
}
.section-b .b-imgs-container .b-green-bg {
  position: relative;
  background-color: #00730C;
  width: 188px;
  height: 292px;
  z-index: 0;
}
.section-b .b-imgs-container .b-main-img {
  position: absolute;
  top: 12px;
  left: 12px;
  background: url("../imgs/b-main-img.png") no-repeat center center/cover;
  width: 291px;
  height: 358px;
  z-index: 1;
}
.section-b .b-imgs-container .b-second-img {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url("../imgs/b-second-img.png") no-repeat center center/cover;
  width: 241px;
  height: 162px;
  border-radius: 9px;
  z-index: 2;
}
.section-b .section-b-cont-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.section-b .section-b-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section-b .section-b-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.section-b .section-b-text h1 {
  text-align: center;
}
.section-b .section-b-text p {
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}
.section-b .section-b-blocks {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.section-b .section-b-block {
  border-radius: 5px;
  width: 47%;
  padding: 15px;
  background: #fff;
  box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.section-b .section-b-block p {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.section-b .section-b-block-item {
  background-color: #00730C;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-b .section-b-block-img {
  width: 30px;
  height: 30px;
}
.section-b .section-b-block-img-1 {
  background: url("../imgs/b-icon-1.svg") no-repeat center center/cover;
}
.section-b .section-b-block-img-2 {
  background: url("../imgs/b-icon-2.svg") no-repeat center center/cover;
}
.section-b .section-b-block-img-3 {
  background: url("../imgs/b-icon-3.svg") no-repeat center center/cover;
}
.section-b .section-b-block-img-4 {
  background: url("../imgs/b-icon-4.svg") no-repeat center center/cover;
}
.section-b .section-b-btn {
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #00730C;
}

.section-c {
  background: #0C4B35;
  position: relative;
  overflow: hidden;
}
.section-c .container {
  padding: 50px 0;
}
.section-c .section-c-bg-img-1 {
  position: absolute;
  left: -70px;
  top: 130px;
  background: url("../imgs/c-bg-img-1.png") no-repeat center;
  width: 251.642px;
  height: 248.002px;
}
.section-c .section-c-bg-img-2 {
  position: absolute;
  top: -20px;
  right: 0;
  background: url("../imgs/c-bg-img-2.png") no-repeat center;
  width: 100px;
  height: 196.499px;
}
.section-c .row {
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.section-c .section-c-img {
  background: url("../imgs/c-main-img.png") no-repeat center center/cover;
  width: 345px;
  height: 217px;
  z-index: 1;
}
.section-c .section-c-cont-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.section-c .section-c-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section-c .section-c-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
.section-c .section-c-text p {
  font-size: 14px;
  font-weight: 100;
  line-height: 22px;
}
.section-c .section-c-blocks {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.section-c .section-c-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.section-c .section-c-block p {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
}
.section-c .section-c-block-item {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #FFF;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-c .section-c-block-img {
  background: url("../imgs/c-tick.svg") no-repeat center;
  width: 100%;
  height: 100%;
}
.section-c .section-c-btn {
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #00730C;
}

.section-d .container {
  padding: 0;
}
.section-d .row {
  flex-direction: column;
  gap: 30px;
}
.section-d .section-d-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.section-d .section-d-head h1 {
  text-transform: capitalize;
}
.section-d .section-d-head p {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}
.section-d .section-d-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.section-d .section-d-content .section-d-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  padding: 20px 31px 20px 20px;
  background: linear-gradient(171deg, #FFF 0%, #FFF 100%);
  box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
}
.section-d .section-d-content .section-d-item:hover {
  background: #00730C;
  color: #FFF;
}
.section-d .section-d-content .section-d-item:hover p {
  color: #FFF;
}
.section-d .section-d-content .section-d-item:hover .d-img {
  background-color: #FFF;
}
.section-d .section-d-content .section-d-item:hover .bg-d-img {
  background-color: #FFF;
}
.section-d .section-d-content .d-item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  z-index: 1;
}
.section-d .section-d-content .d-item-text h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
}
.section-d .section-d-content .d-item-text p {
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}
.section-d .section-d-content .d-img-container {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-d .section-d-content .bg-d-img {
  position: absolute;
  right: 30px;
  -webkit-mask: url("../imgs/d-bg-img.svg") no-repeat center;
          mask: url("../imgs/d-bg-img.svg") no-repeat center;
  background-color: #00730C;
  background-size: contain;
  height: 111.893px;
  width: 76.227px;
  z-index: 0;
}
.section-d .section-d-content .d-img {
  width: 50px;
  height: 50px;
  background-color: #00730C;
}
.section-d .section-d-content .d-img-1 {
  -webkit-mask: url("../imgs/d-icon-1.svg") no-repeat center center/cover;
          mask: url("../imgs/d-icon-1.svg") no-repeat center center/cover;
}
.section-d .section-d-content .d-img-2 {
  -webkit-mask: url("../imgs/d-icon-2.svg") no-repeat center center/cover;
          mask: url("../imgs/d-icon-2.svg") no-repeat center center/cover;
}
.section-d .section-d-content .d-img-3 {
  -webkit-mask: url("../imgs/d-icon-3.svg") no-repeat center center/cover;
          mask: url("../imgs/d-icon-3.svg") no-repeat center center/cover;
}
.section-d .section-d-content .d-img-4 {
  -webkit-mask: url("../imgs/d-icon-4.svg") no-repeat center center/cover;
          mask: url("../imgs/d-icon-4.svg") no-repeat center center/cover;
}
.section-d .section-d-content .d-num {
  color: #E3E3E3;
  font-size: 45px;
  font-weight: 800;
}

.section-e .container {
  padding: 0;
}
.section-e .row {
  align-items: center;
  justify-content: center;
}
.section-e .section-e-container {
  background: url("../imgs/Mobile-app/e-bg-img-small.png") no-repeat center center/cover;
  border-radius: 5px;
  width: 100%;
  min-height: 224px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-e .section-e-placeholder {
  background: rgba(196, 196, 196, 0.2);
  width: 100%;
  min-height: 224px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-e .section-e-content {
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0 30px;
  width: 100%;
}
.section-e .section-e-content .e-text {
  font-size: 20px;
  text-align: center;
}
.section-e .e-call-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #00730C;
  background-color: #fff;
  gap: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 35px;
  box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.section-e .e-call-btn img {
  width: 20px;
  height: 20px;
}
.section-e .e-call-btn p {
  text-align: center;
  font-size: 14px;
}

.section-g {
  position: relative;
}
.section-g .g-background {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #D9F1DF;
  height: 585px;
  width: 100%;
  z-index: 0;
}
.section-g .container {
  position: relative;
  z-index: 1;
  padding: 50px 0 0 0;
}
.section-g .row {
  flex-direction: column;
  gap: 40px;
}
.section-g .section-g-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.section-g .g-head-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.section-g .g-head-text h1 {
  text-transform: capitalize;
}
.section-g .g-head-text p {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}
.section-g .g-head-btns {
  display: none;
  flex-direction: row;
  gap: 30px;
}
.section-g .g-head-btns .slider-arrow {
  background: url("../imgs/slider/slider-arrow-g.svg") no-repeat center;
  border: 1px solid #00730C;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}
.section-g .g-head-btns .next-arrow {
  rotate: 180deg;
}
.section-g .g-head-btns .next-arrow:hover {
  background: url("../imgs/slider/slider-arrow-w.svg") no-repeat center;
  background-color: #00730C;
  rotate: 0deg;
}
.section-g .g-head-btns .prev-arrow:hover {
  background: url("../imgs/slider/slider-arrow-w.svg") no-repeat center;
  background-color: #00730C;
  rotate: 180deg;
}
.section-g .section-g-content {
  width: 100%;
}
.section-g .slick-track {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 30px;
}
.section-g .slider-item {
  background-color: #FFF;
  box-shadow: 0 10px 10px 0 rgba(51, 51, 51, 0.08);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 30px;
  width: 305px;
}
.section-g .slider-item p {
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}
.section-g .slider-item h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
}
.section-g .slider-img {
  background: url("../imgs/slider/slider-img-1.png") no-repeat center;
  background-size: contain;
  width: 136px;
  height: 183px;
}
.section-g .slider-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  z-index: 1;
  padding-top: 20px;
}
.section-g .slider-content .slider-bg-img {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-mask: url("../imgs/slider/bg-slider-img.svg") center no-repeat;
          mask: url("../imgs/slider/bg-slider-img.svg") center no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  width: 30px;
  height: 30px;
  z-index: 0;
  background-color: #00730C;
}
.section-g .slider-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.section-g .slider-info p {
  font-size: 12px;
}
.section-g .slider-stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}
.section-g .slider-stars .star {
  background: url("../imgs/slider/star-icon.svg") no-repeat center center/cover;
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
  .top-navbar .row .top-navbar-links .top-navbar-element img {
    width: 25px;
  }
  .navbar .row .logo a img {
    width: 120px;
  }
  .navbar .row nav .menu-btn .call-btn {
    border-radius: 5px;
    padding: 10px 35px;
    width: 170px;
    height: 50px;
    color: #fff;
    font-size: 18px;
  }
  .navbar .row nav .menu-btn .call-btn img {
    width: 30px;
    height: 30px;
  }
  .navbar .row nav .menu-btn .call-btn p {
    display: flex;
  }
  .hero {
    height: 719px;
  }
  .hero .container {
    height: 100%;
    align-items: center;
  }
  .hero .blank-img-small {
    width: 280px;
    height: 400px;
    right: 150px;
    left: auto;
    bottom: 100px;
  }
  .hero .blank-img-large {
    display: none;
  }
  .hero .row {
    gap: 50px;
    color: #212529;
    width: 600px;
    margin-bottom: 0;
  }
  .hero .hero-text {
    gap: 20px;
  }
  .hero .hero-text h1 {
    font-size: 58px;
    line-height: 80px;
  }
  .hero .hero-text .hero-top-text {
    text-transform: capitalize;
    font-size: 16px;
  }
  .hero .hero-text p {
    line-height: 30px;
    font-size: 18px;
    color: #676767;
  }
  .hero .hero-main-btns {
    flex-direction: row;
    gap: 30px;
    align-self: stretch;
  }
  .hero .hero-main-btns .hero-main-btn1 {
    padding: 13px 35px;
    width: auto;
    font-size: 18px;
  }
  .hero .hero-main-btns .hero-main-btn2 {
    gap: 15px;
    font-size: 18px;
    color: #676767;
  }
  .hero .hero-main-btns .hero-main-btn2 div {
    background: url("../imgs/Desktop-app/arrow-black2.svg") center no-repeat;
  }
  .hero .hero-bottom {
    align-items: center;
    justify-content: stretch;
  }
  .hero .hero-bottom .hero-bottom-item {
    gap: 10px;
    background: none;
    font-size: 16px;
  }
  .hero .hero-bottom .hero-bottom-item div {
    display: flex;
    align-items: center;
    background: linear-gradient(73deg, #00730C 0%, #F9F9F9 100%);
    padding: 15px 7px;
    border-radius: 35px;
    font-size: 15px;
  }
  .hero .hero-bottom .hero-bottom-item p {
    line-height: 20px;
    padding-right: 10px;
  }
  .hero .hero-bottom .hero-bottom-item:last-child {
    display: flex;
  }
  .section-a .row {
    gap: 50px;
  }
  .section-a .section-a-head {
    gap: 30px;
  }
  .section-a .section-a-head h1 {
    font-size: 45px;
    font-weight: 800;
  }
  .section-a .section-a-head p {
    font-size: 18px;
    line-height: 30px;
    width: 85%;
  }
  .section-a .section-a-content {
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .section-a .section-a-content .section-a-item {
    flex-direction: column;
    width: 40%;
    gap: 50px;
    padding: 60px 40px;
    align-items: center;
  }
  .section-a .section-a-content .a-item-text {
    align-items: center;
  }
  .section-a .section-a-content .a-item-text h3 {
    font-size: 24px;
  }
  .section-a .section-a-content .a-item-text p {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
  }
  .section-a .section-a-content .bg-a-img {
    top: 0;
    left: auto;
    width: 176px;
    height: 176px;
  }
  .section-a .section-a-content .a-img {
    width: 70px;
    height: 70px;
  }
  .section-b .row {
    flex-direction: column;
    gap: 27px;
  }
  .section-b .b-imgs-container {
    width: 680px;
    height: 903px;
  }
  .section-b .b-imgs-container .b-green-bg {
    width: 450px;
    height: 706px;
  }
  .section-b .b-imgs-container .b-main-img {
    top: 36px;
    left: 24px;
    width: 601px;
    height: 741px;
  }
  .section-b .b-imgs-container .b-second-img {
    width: 456px;
    height: 306px;
  }
  .section-b .section-b-cont-btn {
    align-items: center;
    gap: 50px;
    width: 70%;
  }
  .section-b .section-b-content {
    gap: 50px;
  }
  .section-b .section-b-text {
    gap: 30px;
  }
  .section-b .section-b-text h1 {
    text-align: start;
    font-size: 45px;
    font-weight: 800;
  }
  .section-b .section-b-text p {
    font-size: 16px;
    line-height: 28px;
  }
  .section-b .section-b-blocks {
    width: 100%;
    gap: 30px;
  }
  .section-b .section-b-block {
    width: 47%;
    padding: 15px 30px;
    background: #fff;
    flex-direction: row;
    gap: 30px;
  }
  .section-b .section-b-block p {
    font-size: 24px;
  }
  .section-b .section-b-block-item {
    border-radius: 67px;
    width: 67px;
    height: 67px;
  }
  .section-b .section-b-block-img {
    width: 50px;
    height: 50px;
  }
  .section-b .section-b-btn {
    padding: 13px 35px;
    font-size: 18px;
    line-height: 24px;
  }
  .section-c .container {
    padding: 100px 0;
  }
  .section-c .section-c-bg-img-1 {
    left: -85px;
    top: auto;
    bottom: 0;
    background: url("../imgs/Desktop-app/c-bg-img-big-1.png") no-repeat center;
    width: 541.29px;
    height: 535.42px;
  }
  .section-c .section-c-bg-img-2 {
    top: -25px;
    right: -130px;
    background: url("../imgs/Desktop-app/c-bg-img-big-2.png") no-repeat center;
    width: 597.361px;
    height: 590.884px;
  }
  .section-c .row {
    gap: 50px;
  }
  .section-c .section-c-img {
    box-shadow: 3px 10px 35px 0px rgba(0, 0, 0, 0.25);
    width: 672px;
    height: 426px;
  }
  .section-c .section-c-cont-btn {
    align-items: center;
    width: 70%;
    gap: 50px;
  }
  .section-c .section-c-content {
    gap: 50px;
  }
  .section-c .section-c-text {
    gap: 30px;
    text-align: start;
  }
  .section-c .section-c-text h1 {
    font-size: 45px;
    font-weight: 700;
  }
  .section-c .section-c-text p {
    font-size: 18px;
    line-height: 30px;
  }
  .section-c .section-c-blocks {
    gap: 20px 50px;
  }
  .section-c .section-c-block {
    gap: 20px;
    width: 40%;
  }
  .section-c .section-c-block p {
    font-size: 24px;
  }
  .section-c .section-c-block-item {
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }
  .section-c .section-c-block-img {
    background-size: contain;
    width: 20px;
    height: 20px;
  }
  .section-c .section-c-btn {
    padding: 13px 35px;
    font-size: 18px;
    line-height: 24px;
    z-index: 1;
  }
  .section-d .row {
    gap: 50px;
  }
  .section-d .section-d-head {
    gap: 20px;
  }
  .section-d .section-d-head h1 {
    font-size: 45px;
    font-weight: 800;
  }
  .section-d .section-d-head p {
    font-size: 18px;
    line-height: 30px;
    width: 85%;
  }
  .section-d .section-d-content {
    align-items: center;
    gap: 30px;
  }
  .section-d .section-d-content .section-d-item {
    gap: 35px;
    width: 40%;
    padding: 50px 29px 70px 29px;
    background: linear-gradient(171deg, #FFF 0%, #FFF 100%);
    box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
  }
  .section-d .section-d-content .d-item-text h3 {
    font-size: 24px;
  }
  .section-d .section-d-content .d-item-text p {
    font-size: 16px;
    line-height: 28px;
  }
  .section-d .section-d-content .bg-d-img {
    right: 30px;
    height: 161.801px;
    width: 95.1px;
  }
  .section-d .section-d-content .d-img {
    width: 70px;
    height: 70px;
  }
  .section-d .section-d-content .d-num {
    font-size: 78px;
    text-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .section-e .section-e-container {
    background: url("../imgs/Desktop-app/e-bg-img-big.png") no-repeat center center/cover;
    min-height: 247px;
  }
  .section-e .section-e-placeholder {
    min-height: 247px;
  }
  .section-e .section-e-content {
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
  }
  .section-e .section-e-content .e-text {
    font-size: 33px;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    width: 448px;
  }
  .section-e .e-call-btn img {
    width: 30px;
    height: 30px;
  }
  .section-e .e-call-btn p {
    font-size: 18px;
  }
  .section-g .container {
    padding: 100px 0 0 0;
  }
  .section-g .row {
    gap: 50px;
  }
  .section-g .section-g-head {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0;
  }
  .section-g .g-head-text {
    justify-content: baseline;
    align-items: flex-start;
    gap: 30px;
    width: 70%;
  }
  .section-g .g-head-text h1 {
    font-size: 45px;
  }
  .section-g .g-head-text p {
    text-align: start;
    font-size: 18px;
    line-height: 30px;
  }
  .section-g .g-head-btns {
    display: flex;
  }
  .section-g .slick-initialized .slick-slide {
    display: flex;
  }
  .section-g .slider-item {
    flex-direction: row;
    width: 600px;
    align-items: center;
  }
  .section-g .slider-item p {
    font-size: 18px;
    line-height: 30px;
  }
  .section-g .slider-item h3 {
    font-size: 24px;
  }
  .section-g .slider-img {
    width: 193px;
    height: 276px;
  }
  .section-g .slider-content {
    width: 60%;
    gap: 30px;
    gap: 27px;
    padding-top: 20px;
  }
  .section-g .slider-content .slider-bg-img {
    left: 0;
    top: 0;
    -webkit-mask: url("../imgs/slider/bg-slider-img.svg") center no-repeat;
            mask: url("../imgs/slider/bg-slider-img.svg") center no-repeat;
    -webkit-mask-size: contain;
            mask-size: contain;
    width: 70px;
    height: 70px;
    z-index: 0;
    background-color: #F6702A;
  }
  .section-g .slider-info p {
    font-size: 14px;
  }
  .section-g .slider-stars {
    align-items: center;
    gap: 8px;
  }
  .section-g .slider-stars .star {
    width: 25px;
    height: 25px;
  }
}
@media (min-width: 1410px) {
  main {
    gap: 100px;
  }
  .container {
    max-width: 1400px;
  }
  .row {
    margin: 0 0;
  }
  .top-navbar .row .top-navbar-links .top-navbar-element p {
    display: flex;
  }
  .top-navbar .row .drop-down img {
    width: 12px;
  }
  .navbar .row {
    margin: 0 5px;
  }
  .navbar .row nav {
    gap: 100px;
  }
  .navbar .row nav .mobile-menu {
    display: none;
  }
  .navbar .row nav .menu {
    display: flex;
    gap: 40px;
  }
  .navbar .row nav .menu .menu-item .menu-green-link {
    color: #00730C;
  }
  .navbar .row nav .menu .menu-item a {
    color: #212529;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .navbar .row nav .menu .menu-item a img {
    width: 12px;
  }
  .hero .row {
    width: 40%;
    gap: 50px;
    color: #212529;
    margin-bottom: 0;
  }
  .hero .blank-img-small {
    display: none;
  }
  .hero .blank-img-large {
    display: flex;
    position: absolute;
    max-width: 870px;
    height: auto;
    right: 0;
    bottom: 0;
    padding: 0;
  }
  .section-a .section-a-content .section-a-item {
    width: 23%;
  }
  .section-b .row {
    flex-direction: row;
  }
  .section-b .section-b-cont-btn {
    align-items: baseline;
    width: 49%;
  }
  .section-b .section-b-block-item {
    border-radius: 67px;
    width: 67px;
    height: 67px;
  }
  .section-c .row {
    flex-direction: row;
    gap: 82px;
  }
  .section-c .section-c-img {
    order: 2;
  }
  .section-c .section-c-cont-btn {
    align-items: baseline;
    width: 46%;
    order: 1;
  }
  .section-c .section-c-blocks {
    gap: 20px 120px;
  }
  .section-d .section-d-content .section-d-item {
    width: 23%;
  }
  .section-e .section-e-content {
    gap: 85px;
  }
  .section-g .slider-item {
    width: 685px;
  }
}
@media (min-width: 1710px) {
  .hero .row {
    width: 40%;
  }
  .hero .blank-img-small {
    display: flex;
    width: 197px;
    height: 278px;
    bottom: 60px;
    left: 1;
    right: auto;
  }
  .hero .blank-img-large {
    max-width: 1013px;
  }
}/*# sourceMappingURL=style.css.map */